* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
}
body {
    background-color: #fafafa;
}
header {
    display: flex;
    justify-content: center;
}
header section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 54px;
    width: 975px;
    background-color: #fff;
    align-content: center;
    justify-content: center;
}
.logo {
    padding-left: 20px;
}
.buscar {
    text-align: center;
}
#buscar {
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    text-align: center;
    color: gray;
    height: 28px;
    width: 215px;
    background-color: #fafafa;
}
nav {
    display: inherit;
    justify-content: end;
}
.nav-bar li {
    display: inline-block;
    margin-left: 22px;
    text-decoration: none;
}
.profile-icon img{
    height: 22px;
    width: 22px;
    border-radius: 100%;
}
main {
    background-color: #fafafa;
}
.post-list {
    display: grid;
    justify-content: center;
    grid-template: 1fr / repeat(3, minmax(100px,293px));
    gap: 28px;
    border-top: 1px solid rgb(218, 215, 215);
}
.post {
    cursor: pointer;
    position: relative;
    display: block;
    /* width: 200px; */
}
.post-image img{
    width: 100%;
    vertical-align: top;
}
.post-overlay {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 1.6rem;
}
.post:hover .post-overlay {
    display: flex;
}

.post-likes, .post-comments {
    display: inline-block;
    text-align: center;
    width: 80px;
    margin: 5px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .post-list {
        gap: 3px;
    }

}