
header section{
    grid-template-columns: repeat(2, 1fr);
    height: 54px;
    /* max-width: 975px;
    width: 100%; */
}
.buscar {
    display: none;
}
.nav-bar {
    justify-content: end;
}
.post-list {
    gap: 3px;
    margin: 0 3px;
}
footer, footer button{
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 3;
    background: #23475b52;
    border: 1px solid #ffffff4d;
    border-radius: .5rem;
    height: 3rem;
}