* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Lato' sans-serif;
    font-size: 1.6rem;
}
.hero-container {
    display: grid;
    padding: 3.2rem ;
    background-color: #23475b;
    color: white;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
}
.hero {
    display: grid;
    grid-template-columns: 7rem 1fr 320px;
    grid-template-areas: "badge title formulario"
                         ". description formulario"
                         ". countdown formulario";
    gap: 1rem;
}
.badge {
    grid-area: badge;
    max-width: 7rem;
}
.badge img {
    max-width: 7rem;
}
.title {
    font-size: 3.6rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    grid-area: title;
}
.description {
    grid-area: description;
}
.formulario {
    grid-area: formulario;
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    padding: 2.4em;
    border-radius: 1rem;
}

.formulario input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #bddbe2;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.formulario p {
    font-size: 20px;
    color: #3a3b3f;
    margin-bottom: 1em;
}

.formulario button {
    background-color: #98ca3f;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: none;
    border-bottom: .5rem solid #6d932b;
    display: inline-block;
    font-size: 1.6rem;
}
.countdown {
    grid-area: countdown;
}
.countdown p {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
}

.countdown span {
    font-size: 3.3rem;
}
.countdown span:after {
    content: ":";
    display: inline-block;
    margin: .5rem;
}
.countdown span:last-child:after {
    display: none;
}
footer {
    display: none;
}
@media screen and (max-width:768px) {
    .hero {
        grid-template-columns: 7rem 1fr;
        grid-template-areas: "badge title "
                             ". description"
                             "formulario formulario"
                             "countdown countdown";
    }
    footer, footer button{
        display: inline-block;
        position: fixed;
        bottom: 0;
        width: 100vw;
        z-index: 3;
        background: #23475b52;
        border: 1px solid #ffffff4d;
        border-radius: .5rem;
        height: 3rem;
    }
}